$main-red: #e02626;
$white: rgb(240, 240, 240);
$gray: rgb(163, 163, 163);

%roboto-regular {
  font-weight: 400;
}
%roboto-medium {
  font-weight: 500;
}
%center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
%drop-shadow {
  filter: drop-shadow(3px 3px 5px rgb(87, 87, 87)) drop-shadow(-3px -3px 5px white);
}

@mixin flex-properties($display, $wrap, $vert-align, $hor-align){
  display: $display;
  flex: $wrap;
  align-items: $vert-align;
  justify-content: $hor-align;
}

// START of ntaive elements ----------------------------------------------------------------
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-color: $white;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}
img {
  width: 100%;
}


// START of nav ----------------------------------------------------------------
.nav {
  height: 7vh;
}
#trustLogo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 5%;
}
#navBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 5%;
}
#closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10%;
}

.nav-pop-out {
  background-color: $main-red;
  width: 50%;
  height: 23%;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  @include flex-properties(flex, 0, center, 0);
  border-radius: 0 0 0 30px;
  ul li {
    @extend %roboto-regular;
    line-height: 150%;
    list-style: none;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
  }
}

// START of temp and knob ------------------------------------------------------
.temp {
  height: 17vh;
  @extend %center-content;
  h1 {
    @extend %roboto-medium;
    font-size: 5rem;
  }
}
.cont-knob {
  height: 36vh;
  @extend %center-content;
}
.knob {
  width: 85%;
  @extend %drop-shadow;
}

// All buttons container //
.cont-buttons {
  height: 40%;
  padding-top: 5%;
  @include flex-properties(flex, wrap, none, none);
}

// START of left buttons -------------------------------------------------------
.cont-left-buttons {
  width: 65%;
  height: 70%;
  padding-left: 5%;
  display: flex;
  flex-wrap: wrap;
  // @include flex-properties(flex, wrap, none, none); breaks design, unsure why

}
.cont-eco,
.cont-timer {
  width: 45%;
  height: 50%;
  margin: 0;
  @include flex-properties(flex, none, none, center);
}
.btn-eco,
.btn-timer {
  width: 55%;
  margin-top: 25%;
}
.cont-power {
  width: 100%;
  height: 30%;
  padding: 10% 0 0 10%;
}
.btn-power {
  width: 77%;
}

// START of arrow buttons ------------------------------------------------------

// arrow styling
.cls-1 {
  fill: #ededed;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width:2.33px;
}

// Button Styling //
.btn-eco,
.btn-timer,
.btn-power,
.btn-arrow-up {
  @extend %drop-shadow;
}
.btn-arrow-down {
  margin-top: 50%;
  transform: rotate(180deg);
  filter: drop-shadow(-3px -3px 5px rgb(87, 87, 87)) drop-shadow(3px 3px 5px white);
}

.cont-arrows {
  height: 60%;
  width: 25%;
  padding: 12% 0 0 0;
}
.btn-arrow-up,
.btn-arrow-down {
  width: 80%;
}




// // // // // // // // // // // // // // // // // // // // // // // // // // //
// START OF ECO AND TIMER PAGE STYLING // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // // // // // // // // // // //

.usage-header,
.preset-header {
  position: absolute;
  margin: 3% 0 0 5%;
  padding: 0 3% 0 3%;
  text-transform: uppercase;
  font-size: .7rem;
  letter-spacing: .2rem;
  background-color: $white;
}
.usage-info {
  height: 40%;
  border-top: 1px solid $gray;
  img {
    width: 85%;
    margin: 15% 0 0 7%;
    @extend %drop-shadow;
  }
}
.preset-header {
  margin-top: 4%;
  padding: 0 3% 0 3%;
}
.cont-presets {
  width: 100%;
  height: 45%;
  margin-top: 10%;
  border-top: 1px solid $gray;
}

// START of Eco Section --------------------------------------------------------
.cont-eco-adjust{
  width: 100%;
  height: 30%;
  @include flex-properties(flex, wrap, none, none);
  @extend %center-content;
  img {
    padding: 5%;
    width: 65%;
  }
}
.cont-eco-content {
  width: 100%;
  height: 50%;
  margin: 0 5% 0 5%;
  display: flex;
}
.eco-adjust {
  width: 100%;
  table, td {
    width: 100%;
    height: 100%;
  }
  td {
    padding-top: 5%;
  }
  img {
    width: 100%;
  }
}
.max-time {
  text-transform: uppercase;
  color: $main-red;
}
// START of Timer Section ------------------------------------------------------
.cont-timer-adjust {
  width: 100%;
  height: 59%;
  display: flex;
  flex-wrap: wrap;
  // @include flex-properties(flex, wrap, none, none); breaks design, unsure why
}
.timer-heading {
  width: 100%;
  height: 50%;
  @include flex-properties(flex, wrap, none, none);
  margin-left: 7%;
  img {
    width: 20%;
  }
  p {
    margin: 14% 0 0 10%;
  }
}
.timer-adjust {
  width: 100%;
  height: 50%;
  @extend %center-content;
  table {
    margin: 15% 0 0 12%;
    width: 90%;
  }
  td {
    padding-bottom: 7%;
    text-transform: uppercase;
    font-size: .7rem;
  }
}
.date {
  color: $main-red;
}



// // // // // // // // // // // // // // // // // // // // // // // // // // //
// START OF SETTING PAGE STYLING // // // // // // // // // // // // // //
// // // // // // // // // // // // // // // // // // // // // // // // // // //
.cont-style {
    border-top: 1px solid $gray;
    @include flex-properties(flex, 0, center, 0);
}



.cont-profile {
  // background-color: yellow;
  height: 29%;
  margin-left: 5%;
}
.profile-info {
  font-size: 1.2rem;
  // background-color: pink;
  table {
    margin: 0;
  }
  td {
    padding-top: 5%;
  }
}
.cont-connected-devices {
  height: 23%;
  margin: 3% 5% 0 5%;
  table {
    width: 100%;
  }
  td {
    padding: 5% 0 5% 0;
  }
  img {
    width: 17%;
  }
}
.cont-preferences {
  height: 23%;
  margin: 3% 5% 0 5%;
  table {
    width: 100%;
  }
  td {
    padding: 5% 0 5% 0;
  }
  img {
    width: 12%;
  }
}
.cont-more {
  height: 13%;
  margin: 3% 5% 0 5%;
  table {
    padding-top: 7%;
  }
  td {
    padding-bottom: 7%;
  }
}
.headers {
  position: absolute;
  padding: 0 3% 0 3%;
  margin: 1.3% 0 0 10%;
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  background-color: $white;
}
#tableRight {
  text-align: right;
}
